body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #ffffff, #b4e5ff);
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color: #69c7fa;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80%;
}

img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border: 3px solid #69c7fa;
}

h2 {
    color: #69c7fa;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #2b2b2b;
}


button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #69c7fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #69c7fa;
}
